// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // alerts // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
.modal-alert{
  display: flex;
  justify-content: center;
  align-items: center;

 #error-card{
  width: 38.9375em;
  height: 12em;
  border-radius: 2em;
  background-color: #E8E8E8;
  border: solid 2px var(--primary);
  justify-content: center;
  overflow:  hidden;

  div:first-of-type{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    padding: 1em;
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
  }

  div:last-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 20px 0 40px;
    gap: 1em;
  }

  .title-alert{
    font-weight: 500;
    font-family: var(--font1);
    color: #FFFFFF;
    font-size: 1.5em;
  }

  .v-btn{
    background-color: var(--color-snackbar);
    min-width: 0em;
    min-height: 0em;
    width: 2.3125em;
    height: 2.3125em;
    border-radius: 100%;

    .v-icon{
      color: #FFFFFF;
    }
  }

  .text-card-alert{
    font-family: var(--font1);
    font-weight: 700;
    color: var(--primary);
    font-size: 1.1em;
  }
 }
}