.section1-desincorporacion-inmueble{
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  margin-bottom: 50px;
  overflow-x: hidden;
  margin-right: 0px!important;
  margin-left: 0px;
  gap: 10px;
  padding-bottom: 10px;
  padding-inline: 10px 10px;

  .desincorporacion-inmueble-container{
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    overflow-x: hidden;
    box-shadow: 3px 3px 3px 3px rgba(#000000,0.1)!important;
    margin-bottom: 30px;

    .title-desincorporacion{
      --c: var(--primary);
      --fw: 500;
      font-size: 22px;
    }

    hr{
      border: solid 1px rgba(#000000,0.1);
      width: 130%;
      margin-left: -20px;
    }

    .fecha-autocomplete-container{
      display: flex;
      width: 100%;
      gap: 30px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .fecha-container{
        min-width: 200px;
        width: 200px;
        max-width: 200px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        border-right: 1px solid rgba(#000000,0.1);

        .fecha-number{
          --c:var(--primary);
          --fw:700;
          font-size: 20px;
        }
      }

      .autocomplete-field{
        padding-left: 10px;
        max-height: 66px;
        border-radius: 10px;
        box-shadow: 3px 3px 3px 3px rgba( #000000, 0.1)!important;
        min-width: 250px;
      }
    }
  }

  .observaciones-container{
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 3px 3px 3px 3px rgba(#000000,0.1)!important;
    overflow-x: hidden;

    .title-observaciones{
      --c: var(--primary);
      --fw: 700;
      font-size: 22px;
      margin-bottom: 0px;
    }

    .btn-mas{
      background-color: #fff;
      box-shadow: none!important;
      font-size: 40px!important;
      --c:var(--primary)!important;
    }

    hr{
      border: solid 1px rgba(#000000,0.1);
      width: 130%;
      margin-left: -20px;
    }

    .textarea{
      border-radius: 10px;
      padding-inline: 10px;
      box-shadow: 3px 3px 3px 3px rgba( #000000, 0.1)!important;
      max-width: 90%;
    }

    .textarea:active, .textarea:focus-within{
      border: 1px solid var(--primary)!important;
    }
  }
}



.section2-desincorporacion-inmueble{
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  margin-bottom: 50px;
  overflow-x: hidden;
  margin-right: 0px!important;
  margin-left: 0px;
  gap: 10px;
  padding-bottom: 10px;
  padding-inline: 10px 10px;

  .propietarios-inmueble-container{
    position: relative;
    width: 100%;
    padding-top: 120px;
    border-radius: 10px;
    padding: 120px 20px 20px 0px;
    background-color: #fff;
    box-shadow: 3px 3px 3px 3px rgba( #000000, 0.1)!important;
    display: grid;
    justify-items: center;
    overflow-x: hidden;

    .title-morado{
      background-color: var(--primary);
      position: absolute;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding-left: 20px;
      padding-right: 20px;

      .propietarios-title{
        --c: #fff;
        --fw: 700;
        margin-bottom: 0px;
        font-size: 22px;
      }
    }

    .btns-add-remove{
      background-color: #fff;
      box-shadow: 3px 3px 3px 3px rgba( #000000, 0.1)!important;
      min-height: 65px;
      height: 65px;
      border-radius: 10px;
      --c:var(--primary)!important;
      font-size: 40px!important;

      @include media(max, 721px){
        width: 250px;
      }
    }

    .no-shadow{
      box-shadow: none!important;
      height: 30px;
      min-height: 30px;
      margin-top: -15px;
      margin-right: -20px;
      margin-bottom: 30px;
      justify-self:flex-end;
    }

    .desincorporacion-inputs-container{
      width: 100%;
      display: flex;
      align-items: center;
      gap: 20px;
      padding-inline: 10px;
      margin-bottom: 20px;
      flex-wrap: wrap;

      @include media(max, 721px){
        justify-content: center;
      }

      .big-input{
        box-shadow: 3px 3px 3px 3px rgba( #000000, 0.1)!important;
        border-radius: 10px;
        border: 1px solid var(--primary);
        padding-inline: 10px;
        height: 65px;
        // max-width: 255px;
        min-width: 150px;
      }
    }

    hr{
      border: solid 1px rgba(#810880, 0.4);
      width: 130%;
      margin-left: -20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .div-btns{
      max-width: 650px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .size-btn{
        width: 300px!important;
      }
    }
  }
}




//////////////////////////dialogsss///////////////////////////
/// 


.v-dialog{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;

  .card-dialog-exito{
    background-color: #fff;
    max-width: 600px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba( #000000, 0.1)!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .v-icon{
      --c:var(--primary);
      font-size: 30px;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .p-dialog{
      --c:var(--primary);
      font-size: 22px;
      font-weight: 700px!important;
      text-align: center;
    }
  }
}




////////Barrita transversal del input/////////
//////////////////////////////////////////////


.v-input__slot:before{
  border-color: #fff!important;
}

.v-text-field > .v-input__control > .v-input__slot:before, 
.v-text-field > .v-input__control > .v-input__slot:after {
  width: 0%;
}