.section1-recaudacion{
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  overflow-x: hidden;
  margin-right: 0px!important;
  margin-left: 0px;
  gap: 10px;
  padding-bottom: 10px;
  padding-inline: 10px 10px;

  .recaudacion-container{
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    overflow-x: hidden;
    box-shadow: 3px 3px 3px 3px rgba(#000000,0.1)!important;
    margin-bottom: 30px;

    .title-recaudacion{
      --c: var(--primary);
      --fw: 500;
      font-size: 22px;
    }

    hr{
      border: solid 1px rgba(#000000,0.1);
      width: 130%;
      margin-left: -20px;
    }

    .textfield-search-container{
      max-width: 70%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;

      .autocomplete-field{
        padding-left: 10px;
        max-width: 100px;
        max-height: 66px;
        border-radius: 10px;
        box-shadow: 3px 3px 3px 3px rgba( #000000, 0.1)!important;

        @include media(max, 669px){
          min-width: 250px;
        }
      }

      .inputs-consulta{
        border-radius: 10px;
        padding-inline: 10px;
        max-height: 66px;
        box-shadow: 3px 3px 3px 3px rgba( #000000, 0.1)!important;
        max-width: 300px;

        @include media(max, 669px){
          min-width: 250px;
        }
      }

      .inputs-consulta:active, .inputs-consulta:focus-within{
        border: 1px solid var(--primary)!important;
      }

      .btn-buscar{
        background-color: var(--primary);
        min-height: 55px;
        height: 55px;
        border-radius: 0.5em;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3)!important;
        width: 250px;
        border-radius: 50px;

        @include media(max, 669px){
          min-width: 250px;
        }

        span{
          --c: #fff;
          font-weight: 700!important;
        }
      }
    }
  }

  .impuestos-container{
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    overflow-x: hidden;
    box-shadow: 3px 3px 3px 3px rgba(#000000,0.1)!important;
    margin-bottom: 30px;

    .title-modificar{
      --c: var(--primary);
      --fw: 500;
      font-size: 22px;
    }
  }

  .datos-contribuyente-container{
    position: relative;
    width: 100%;
    padding-top: 120px;
    border-radius: 10px;
    padding: 120px 0px 20px 0px;
    background-color: #fff;
    box-shadow: 3px 3px 3px 3px rgba( #000000, 0.1)!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    border: 1px solid var(--primary);
    margin-bottom: 30px;

    .absolute-line{
      width: 1px;
      height: 90px;
      background-color: var(--primary);
      position: absolute;
      top: 90px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;

      @include media(max, 541px){
        height: 1px;
        width: 190px;
      }
    }

    .container-morado{
      background-color: var(--primary);
      position: absolute;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding-left: 20px;
      padding-right: 20px;

      span{
        --c: #fff;
        --fw: 700;
        margin-bottom: 0px;
        font-size: 22px;
      }

      .icon-chevron{
        --c:#fff;
        font-size: 45px;
      }
    }

    .container-datos-contribuyente{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      gap: 10px;

      .title-description-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 20px;
        height: 120px;
        min-width: 300px;

        @include media(max, 960px){
          min-width: 200px;
        }

        @include media(max, 780px){
          width: 250px;
        }

        .nombre-razon{
          --c:#707070;
          text-align: center;
          margin-bottom: 0px;
        }

        .nombre-desc{
          --c:var(--primary);
          --fw: 700;
          font-size: 22px;
          text-align: center;
        }
      }
    }
  }
}


.section2-recaudacion{
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  margin-bottom: 50px;
  overflow-x: hidden;
  margin-right: 0px!important;
  margin-left: 0px;
  gap: 10px;
  padding-bottom: 10px;
  padding-inline: 10px 10px;

  .impuestos-tasa-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba( #000000, 0.1)!important;
    width: 100%;
    overflow-x: hidden;
    margin-top: 30px;
    background-color: #fff;

    .title-impuestos-tasa{
      --c: var(--primary);
      --fw: 700;
      font-size: 22px;
    }

    hr{
      border: solid 1px rgba(#810880, 0.5);
      width: 130%;
      margin-left: -20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .impuestos-data-container{
      padding-inline: 10px;
      padding-block: 30px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
      border-bottom: 1px solid rgba(#000000,0.1);
      width: 100%;

      .input-small{
        border-radius: 10px;
        padding-inline: 10px;
        max-height: 66px;
        box-shadow: 3px 3px 3px 3px rgba( #000000, 0.1)!important;
        max-width: 300px;
        min-width: 250px;

        @include media(max, 600px){
          min-width: 250px;
          max-width: 250px;
        }
      }

      .input-big{
        border-radius: 10px;
        padding-inline: 10px;
        max-height: 66px;
        box-shadow: 3px 3px 3px 3px rgba( #000000, 0.1)!important;
        min-width: 350px;
        max-width: 483px;

        @include media(max, 600px){
          min-width: 250px;
          max-width: 250px;
        }
      }

      .input-small:active, .input-small:focus-within, .input-big:active, .input-big:focus-within{
        border: 1px solid var(--primary)!important;
      }

      .btn-dollar{
        background-color: var(--primary);
        min-height: 50px;
        height: 50px;

        .v-icon{
          --c: #fff;
          font-size: 36px;
        }

        @include media(max, 600px){
          min-width: 250px;
          max-width: 250px;
        }
      }
    }
  }
}






////////Barrita transversal del input/////////
//////////////////////////////////////////////


.v-input__slot:before{
  border-color: #fff!important;
}

.v-text-field > .v-input__control > .v-input__slot:before, 
.v-text-field > .v-input__control > .v-input__slot:after {
  width: 0%;
}